# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
part1_output_data_file_path = "../output_data/cities.csv"

# Read the cities csv file from part 1
cities_from_part1 = pd.read_csv(part1_output_data_file_path)

vacation_df = pd.DataFrame(cities_from_part1)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=gkey)

In [4]:
locations = vacation_df[["Lat", "Lng"]]
humidity = vacation_df["Humidity"]
fig = gmaps.figure()
heatlayer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius = 5)
fig.add_layer(heatlayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
vacation_df_mod = vacation_df.loc[(vacation_df["Max Temp"]<80) & (vacation_df["Max Temp"]> 70) & (vacation_df["Wind Speed"]<10) & (vacation_df["Cloudiness"]==0)].dropna()

In [6]:
vacation_df_mod.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = vacation_df_mod[['City', 'Country', 'Lat', 'Lng']].copy()

In [8]:
hotel_df['Hotel Name'] = ""

In [9]:
hotel_df.head()

             City Country    Lat    Lng Hotel Name
70   ponta do sol      BR -20.63 -46.00
88       cidreira      BR -30.17 -50.22
138     morondava      MG -20.30  44.28
139         vaini      IN  15.34  74.49
176         nador      MA  35.17  -2.93

In [17]:
params = {
    "radius":5000,
    "types":"lodging",
    "key":gkey
}
print(params)
for index,row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    baseurl = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    address = requests.get(baseurl,params=params).json()
    try:
        hotel_df.loc[index,"Hotel Name"] = address["results"][0]["name"]
    except (KeyError,IndexError):
        print("Missing field. Skipping")

hotel_df

{'radius': 5000, 'types': 'lodging', 'key': 'AIzaSyAqLkPk2vfcgnHqF_xyaCVRBwcFh00Th2c'}

             City Country    Lat    Lng                      Hotel Name
70   ponta do sol      BR -20.63 -46.00          Hotel Escarpas do Lago
88       cidreira      BR -30.17 -50.22  Novomar Pousada e Turismo Ltda
138     morondava      MG -20.30  44.28                  La Case Bambou
139         vaini      IN  15.34  74.49             Dandeli Lake County
176         nador      MA  35.17  -2.93                Hôtel La Giralda
297         mogok      MM  22.92  96.51                MOGOK HILL HOTEL
444       birjand      IR  32.86  59.22               تاکسی سرویس آرامش

In [32]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
locations

       Lat    Lng
70  -20.63 -46.00
88  -30.17 -50.22
138 -20.30  44.28
139  15.34  74.49
176  35.17  -2.93
297  22.92  96.51
444  32.86  59.22